@{
    ViewData["Title"] = "Giấy chứng nhận";
}
@section Styles {
    <link rel="stylesheet" href="~/css/certificate.css" />
}
<body>
<div class="container pm-certificate-container"
     style = " position: relative !important;
                width: 800px !important;
                height: 600px !important;
                background-color: #618597 !important;
                padding: 30px !important;
                color: #333 !important;
                font-family: 'Open Sans', sans-serif !important;
                box-shadow: 0 0 5px rgba(0, 0, 0, .5) !important;">

    <div class="outer-border"
         style=" width: 794px !important;
                height: 594px !important;
                position: absolute !important;
                left: 50% !important;
                margin-left: -397px !important;
                top: 50% !important;
                margin-top: -297px !important;
                border: 2px solid #fff!important;"></div>

    <div class="inner-border" 
         style = "border: 2px solid #fff !important;
                  width: 730px !important;
                  height: 530px !important;
                  position: absolute !important;
                  left: 50% !important;
                  margin-left: -365px !important;
                  top: 50% !important;
                  margin-top: -265px !important;"></div>

    <div class="pm-certificate-border col-xs-12"
         style="position: relative !important;
                width: 720px !important;
                height: 520px !important;
                padding: 0 !important;
                border: 1px solid #E1E5F0 !important;
                background-color: rgba(255, 255, 255, 1) !important;
                background-image: none !important;
                left: 50% !important;
                margin-left: -360px !important;
                top: 50% !important;
                margin-top: -260px !important;">

        <div class="row pm-certificate-header"
             style=" margin-bottom: 10px !important;">

            <div class="pm-certificate-title cursive col-xs-12 text-center"
                 style ="position: relative !important;
                        top: 40px !important;
                        font-family: 'Pinyon Script', cursive !important;">

                <h2 style="font-size: 34px !important;">Buffalo Public Schools Certificate of Completion</h2>

            </div>
        </div>

        <div class="row pm-certificate-body"
             style="padding: 20px !important;">

            <div class="pm-certificate-block"
                 style=" width: 650px !important;
                        height: 200px !important;
                        position: relative !important;
                        left: 50% !important;
                        margin-left: -325px !important;
                        top: 70px !important;
                        margin-top: 0 !important;">

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-2"><!-- LEAVE EMPTY --></div>

                        <div class="pm-certificate-name underline margin-0 col-xs-8 text-center"
                                style = "   border-bottom: 1px solid #777 !important;
                                            padding: 5px !important;
                                            margin-bottom: 15px !important; 
                                            margin: 0 !important;">

                            <span class="pm-name-text bold"
                                  style = "font-size: 20px !important;
                                           font-weight: bold !important;">TrueNorth Administrator</span>
                        </div>
                        <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                        <div class="pm-earned col-xs-8 text-center"
                             style ="margin: 15px 0 20px !important;">

                            <span class="pm-earned-text padding-0 block cursive" 
                                    style = " font-size: 20px !important;
                                              padding: 0 !important;
                                              display: block !important;
                                              font-family: 'Pinyon Script', cursive;">has earned</span>
                                              
                            <span class="pm-credits-text block bold sans"
                                   style = " font-size: 15px !important;
                                             display: block !important;
                                             font-weight: bold !important;
                                             font-family: 'Open Sans', sans-serif !important;">PD175: 1.0 Credit Hours</span>
                        </div>
                        <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                        <div class="col-xs-12"></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                        <div class="pm-course-title col-xs-8 text-center">
                            <span class="pm-earned-text block cursive"
                                    style = "display: block !important;
                                            font-size: 20px !important;
                                            font-family: 'Pinyon Script', cursive;">while completing the training course entitled</span>
                        </div>
                        <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                        <div class="pm-course-title underline col-xs-8 text-center"
                              style="   border-bottom: 1px solid #777 !important;
                                        padding: 5px !important;
                                        margin-bottom: 15px !important;">
                            <span class="pm-credits-text block bold sans"
                                  style = "font-size: 15px !important;display: block !important;font-weight: bold !important; font-family: 'Open Sans', sans-serif !important; ">BPS PGS Initial PLO for Principals at Cluster Meetings</span>

                                           
                        </div>
                        <div class="col-xs-2"><!-- LEAVE EMPTY --></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="pm-certificate-footer"
                         style="width: 650px !important;
                                height: 100px !important;
                                position: relative !important;
                                left: 50% !important;
                                margin-left: -325px !important;
                                bottom: -105px !important;">
                         
                        <div class="col-xs-4 pm-certified col-xs-4 text-center"
                              style="font-size: 12px !important;">

                            <span class="pm-credits-text block sans"
                                    style="font-size: 15px !important;display: block !important;font-family: 'Open Sans', sans-serif !important;">Buffalo City School District</span>

                            <span class="pm-empty-space block underline"
                                    style = "height: 40px !important;
                                            width: 100% !important;
                                            display: block !important;
                                            margin-bottom: 5px !important;"></span>

                            <span class="bold block"
                                    style = "display: block !important;">Crystal Benton Instructional Specialist II, Staff Development</span>

                        </div>
                        <div class="col-xs-4">
                            <!-- LEAVE EMPTY -->
                        </div>
                        <div class="col-xs-4 pm-certified col-xs-4 text-center"
                             style="font-size: 12px !important;">

                            <span class="pm-credits-text block sans"
                                    style = "font-size: 15px !important;display: block !important;font-family: 'Open Sans', sans-serif !important;">Date Completed</span>
                            <span class="pm-empty-space block underline"
                                    style = " height: 40px !important;
                                            width: 100% !important;
                                            display: block !important;
                                            border-bottom: 1px solid #777 !important;
                                            padding: 5px !important;
                                            margin-bottom: 15px !important;"></span>
                            <span class="bold block"
                                    style = " font-weight: bold !important;
                                            display: block !important;">DOB: </span>
                            <span class="bold block"
                                  style =" font-weight: bold !important;
                                            display: block !important;">Social Security # (last 4 digits)</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>