@{
    ViewData["Title"] = "Trang chủ";
}
<!-- Page Content -->
<!--xin chao-->
<form class="row justify-content-md-center">
    <div class="col-md-4">
        <label class="form-label">Trình độ</label>
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Nhập SDT hoặc CMND"/>
            <button class="btn btn-dark" type="submit">Tìm kiếm</button>
        </div>
    </div>
</form>
<!-- /.container -->