@{ ViewData["Title"] = "Thống kê";

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thống kê</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card col-md-4">
                <div class="card-header">Thống kê khoá thi</div>
                <div class="card-body">
                    <canvas id="khoaThi"></canvas>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-header">Thống kê phòng thi</div>
                <div class="card-body">
                    <canvas id="phongThi"></canvas>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-header">Thống kê thí sinh</div>
                <div class="card-body">
                    <canvas id="thiSinh"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <!--<script type="text/javascript">
        var dataChart = [100, 200];
        var chart = document.getElementById('khoaThi').getContext('2d');
        var myChart = new Chart(chart, {
            type: 'bar',
            data: {
                labels: ['A2', 'B1'],
                datasets: [{
                    label: 'Bar chart',
                    data: dataChart,
                    backgroundcolor: 'rgba(6,128,250)',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>-->
    <script>
        var chart = document.getElementById("khoaThi").getContext("2d");

        var data = {
            labels: ["Chocolate", "Vanilla", "Strawberry"],
            datasets: [
                {
                    label: "A2",
                    backgroundColor: "red",
                    data: [4, 3, 5]
                },
                {
                    label: "B1",
                    backgroundColor: "green",
                    data: [7, 2, 6]
                }
            ]
        };

        var myChart = new Chart(chart, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script type="text/javascript">
        var dataChart = [@ViewBag.PTA2, @ViewBag.PTB1];
        var chart = document.getElementById('phongThi').getContext('2d');
        var myChart = new Chart(chart, {
            type: 'bar',
            data: {
                labels: ['A2', 'B1'],
                datasets: [{
                    label: 'Bar chart',
                    data: dataChart,
                    backgroundcolor: 'rgba(6,128,250)',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script type="text/javascript">
        var dataChart = [@ViewBag.TSA2, @ViewBag.TSB1];
        var chart = document.getElementById('thiSinh').getContext('2d');
        var myChart = new Chart(chart, {
            type: 'bar',
            data: {
                labels: ['A2', 'B1'],
                datasets: [{
                    label: 'Bar chart',
                    data: dataChart,
                    backgroundcolor: 'rgba(6,128,250)',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}
