@{ ViewData["Title"] = "Thống kê";

}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thống kê</h6>
    </div>
    <div class="card-body">
        <div class="row">

            <div class="card col-md-4">
                <div class="card-header">Thống kê phòng thi</div>
                <div class="card-body">
                    <canvas id="phongThi"></canvas>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-header">Thống kê khoá thi</div>
                <div class="card-body">
                    <canvas id="khoaThi"></canvas>
                </div>
            </div>
            <div class="card col-md-4">
                <div class="card-header">Thống kê thí sinh</div>
                <div class="card-body">
                    <canvas id="thiSinh"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <!--<script type="text/javascript">
        var dataChart = [100, 200];
        var chart = document.getElementById('khoaThi').getContext('2d');
        var myChart = new Chart(chart, {
            type: 'bar',
            data: {
                labels: ['A2', 'B1'],
                datasets: [{
                    label: 'Bar chart',
                    data: dataChart,
                    backgroundcolor: 'rgba(6,128,250)',
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>-->
    <script>
        var chart = document.getElementById("khoaThi").getContext("2d");

        var khoaThi = [];
        var dataA2 = [];
        var dataB1 = [];

        @{
            foreach(var data in ViewBag.KhoaThi)
                {
                    @:khoaThi.push("@data");
                }

            foreach(var data in ViewBag.TSA2Khoa)
                {
                    @:dataA2.push(@data);
                }

            foreach(var data in ViewBag.TSB1Khoa)
                {
                    @:dataB1.push(@data);
                }
        }

        var data = {
            labels: khoaThi,
            datasets: [
                {
                    label: "A2",
                    backgroundColor: "red",
                    data: dataA2
                },
                {
                    label: "B1",
                    backgroundColor: "green",
                    data: dataB1
                }
            ]
        };

        var myChart = new Chart(chart, {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                maintainAspectRatio: false
            }
        });
    </script>
    <script type="text/javascript">
        var dataChart = [@ViewBag.PTA2,@ViewBag.PTB1];
        var barColors = ["red", "green"];
        var chart = document.getElementById('phongThi').getContext('2d');

        var myChart = new Chart(chart, {
            type: "pie",
            data: {
                labels: ["A2","B1"],
                datasets: [{
                    backgroundColor: barColors,
                    data: dataChart
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
    <script type="text/javascript">
        var dataChart = [@ViewBag.TSA2, @ViewBag.TSB1];
        var barColors = ["red", "green"];
        var chart = document.getElementById('thiSinh').getContext('2d');
        var myChart = new Chart(chart, {
            type: 'doughnut',
            data: {
                labels: ["A2", "B1"],
                datasets: [{
                    backgroundColor: barColors,
                    data: dataChart
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}
